name: Flatter

on:
  # Rebuild once a day
  # schedule:
  #   - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  flatter:
    name: Flatter
    runs-on: ${{ matrix.os }}
    container:
      image: ghcr.io/andyholmes/flatter/freedesktop:24.08
      options: --privileged

    # See "Multiple Architectures" below
    strategy:
      matrix:
        include:
          - arch: x86_64
            os: ubuntu-latest
          - arch: aarch64
            os: ubuntu-24.04-arm
      fail-fast: false
      # Only one job at a time can use the shared repository cache
      max-parallel: 1

    steps:
      # Checkout a repository with Flatpak manifests
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true

      # See "GPG Signing" below
      - name: Setup GPG
        if: ${{ github.event_name != 'pull_request' }}
        id: gpg
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}

      # Generate a CNAME file on-the-fly for a configured host
      - name: Generate CNAME
        run: |
          echo "flatter.purejava.org" > CNAME

      - name: Replace RUN_ID in index.html
        run: |
          sed -i "s/{{RUN_ID}}/${{ github.run_id }}/g" index.html

      - name: Build
        uses: andyholmes/flatter@main
        with:
          files: |
            build-aux/flatpak/org.cryptomator.Cryptomator.yaml
          arch: ${{ matrix.arch }}
          gpg-sign: ${{ steps.gpg.outputs.fingerprint }}
          upload-bundles: true
          upload-pages-artifact: ${{ matrix.arch == 'aarch64' }}
          upload-pages-includes: |
            CNAME
            default.css
            index.html

  # See "Github Pages" below
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: flatter
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
